@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: beige;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.header-img{
    height: 75px;
}

.header-menu{
    display: flex;
    gap: 32px;
}

.header-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #B8312F;
    font-weight: 400;
    font-size: 18px;
}

.main{
    border-top: 0.4px solid #B8312F;
    margin-bottom: 48px;
}

.main-principal{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-conteudo-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: beige;
}

.main-conteudo-subtitulo{

}