@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #ffffff;
}

.header{
    display: flex;
    flex-direction: row;
    /* background-color: beige; */
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.header-img{
    height: 100px;
}

.header-menu{
    display: flex;
    gap: 32px;
}

.header-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #B8312F;
    font-weight: 400;
    font-size: 18px;
}

.main{
    padding: 32px;
}

.main-principal{
    background: linear-gradient(68.15deg, #000000 16.62%, #3a322fd5 85.61%);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-conteudo-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #ffffff;
}

.main-conteudo-subtitulo{
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(
        to left,
        #462523 -125%,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 85%,
        #462523 125%
    );
    -webkit-background-clip: text;
}

.main-conteudo-btn{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: azure;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 8px;
    box-shadow: -3px 3px 0 0 gray;
}

.main-conteudo-vid{
    height: 310px;
    width: 560px;
}
    
.efect-center{
        display: flex;
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
    
.efect-maq{
        font-style: italic;
        background-image: linear-gradient(
        to left,
        #462523 -125%,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 85%,
        #462523 125%
    );
        /* border-right: 4px solid; */
        width: 24ch;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(10), blinking 0.5s infinite step-end alternate;
        font-size: 32px;
    }

.conteudo-secundario{
    margin-top: 80px;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/sobremesas-22-logo-menor-2000x1321.jpg');
    gap: 32px;
}

.card{
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(68.15deg, #000000 16.62%, #3a322fd5 85.61%);
    transition: all .5s;
}

.card:hover{
    background-image: linear-gradient(to top, #B8312F, #8f2927, #691e1c);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-image: url('img/churrasco-matias-600x353-99.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
    background-image: linear-gradient(
        to left,
        #462523 -125%,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 85%,
        #462523 125%
    );
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 180px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 18px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
    display: flex;
    text-align: center;
}

.card .arrow {
    color: #ffffff;
    padding: 10px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 28px;
}